.w {
    width: 1200px;
    margin: 0 auto;
}
@font-face {
  font-family: 'iconfont';  /* project id 1807517 */
  src: url('http://at.alicdn.com/t/font-1807517-zk05muqa8yb.eot');
  src: url('http://at.alicdn.com/t/font-1807517-zk05muqa8yb.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font-1807517-zk05muqa8yb.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font-1807517-zk05muqa8yb.woff') format('woff'),
  url('http://at.alicdn.com/t/font-1807517-zk05muqa8yb.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font-1807517-zk05muqa8yb.svg#iconfont') format('svg');
}
    /* 使用网上的,需要再添加的时候,不需要再下载,直接在网上添加就可以了,不适用的时候,可以试试绝对路径 */

[class^="icon-"] {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::after {
    clear: both;
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    /* overflow: hidden; */
  }.clearfix{
      *zoom: 1;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .w {
    width: 1200px;
    margin: 0 auto;
  }
  .ul-list {
    list-style: none;             
  }
  a {
    cursor: pointer;
  }
  
  /* 小三角形 */
  .down-arrow {            
    /* width: 40px;            
    height: 40px;         */
    position: relative;
}         
.down-arrow:after {            
    content: '';            
    display: block;            
    width: 9px;            
    height: 9px;            
    border-right: 2px solid #fff;            
    border-top: 2px solid #fff;            
    -webkit-transform: rotate(135deg);/*  箭头方向可以自由切换角度      */       
    transform: rotate(135deg);
    position: absolute;
    right: 1px;
    top: 18px;
    transition: all 0.5s;
}

/* 自创三角形小圆点 */
.EX-DOTS ul li>::before{
  content: "";
  border-top:4px #000 solid;
  position: absolute;
  left:-8px;
  top: 10px;
  width: 3px;
  height: 5px;
}
a {
  text-decoration: none;
}

/* 常用字体(京东) */
body {
  font: 14px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
}
/* 消除左右滑动 */
/* html {
  overflow-y: scroll;
}

:root {
overflow-y: auto;
overflow-x: hidden;
}

:root body {
position: absolute;
} */
