/* 移动端公共样式表 */
* {
    padding:0;
    margin:0;
  }
  ul li {
    list-style: none;
  }
  div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  a {
    -webkit-tap-highlight-color: transparent;
  }
  input {
    -webkit-appearance: none;   
  }
  img {
    border:0;
    vertical-align: middle;
  }
  img,
  a { 
    -webkit-touch-callout: none; 
  }
  
/* // 禁止页面拖拽
document.addEventListener("touchmove", function (e) {
e.preventDefault();
},{
passive:false
});
   */


   